@model VinarishMvc.Controllers.TrainTripsController.CreateViewModel

@{
    ViewData["Title"] = Expressions.AddItemTitle(Expressions.Trip + Expressions.Train + Model.TrainTrip.Train.Name);
}
<link rel="stylesheet" href="~/lib/persian-datepicker/dist/css/persian-datepicker.min.css" />

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <input type="hidden" asp-for="TrainTrip.TrainId" value="@Model.TrainTrip.Train.TrainId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrainTrip.DateTime" class="control-label"></label>
                <input class="form-control persianDate" />
                <input asp-for="TrainTrip.DateTime" class="form-control" hidden />
                <span asp-validation-for="TrainTrip.DateTime" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="TrainTrip.TrainId" class="control-label"></label>
                    <select asp-for="TrainTrip.TrainId" class="form-control" asp-items="ViewBag.TrainId"></select>
                </div>*@
            @*<div class="form-group">
                    <label asp-for="TrainTrip.ReporterId" class="control-label"></label>
                    <select asp-for="TrainTrip.ReporterId" class="form-control" asp-items="ViewBag.ReporterId"></select>
                </div>*@
            <div class="container">
                <div class="row">
                    <div class="col">
                        <table class="table-bordered" id="WagonsTable">
                            <thead>
                                <tr>
                                    <td>
                                        <label asp-for="TrainTrip.WagonsOfTrip" class="control-label"></label>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Wagons)
                                {
                                    <tr style="transform:rotate(0);">
                                        <td>
                                            <div class="input-group" dir="ltr">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <input type="checkbox" asp-for="@Model.Wagons[item.Key]">
                                                    </div>
                                                </div>
                                                <label asp-for="@Model.Wagons[item.Key]" class="stretched-link m-2">@item.Key</label>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <h5>@Expressions.Count @Expressions.Wagons <span id="selectedCount" class="badge badge-info">0</span></h5>

                        <table class="table-bordered " id="SelectedWagonsTable">
                            <thead>
                                <tr>
                                    <td>
                                        <label asp-for="TrainTrip.WagonsOfTrip" class="control-label"></label>
                                    </td>
                                </tr>
                            </thead>
                            <tbody id="selectedWagons"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="@Expressions.Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Expressions.BackToIndex</a>
</div>
<style>
    div.dataTables_wrapper div.dataTables_filter {
        direction: ltr;
    }
</style>
@section Scripts{
    <script src="~/lib/persian-datepicker/assets/persian-date.min.js"></script>
    <script src="~/lib/persian-datepicker/dist/js/persian-datepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var nDate = new Date().toISOString().substr(0, 19);
            console.log(nDate);
            $("#TrainTrip_DateTime").val(nDate);
            $(".persianDate").persianDatepicker({
                autoClose: true,
                initialValueType: 'persian',
                format: 'YYYY/MM/DD',
                onSelect: function (unix) {
                    var nDate = new Date(unix).toISOString().substr(0, 19);
                    $("#TrainTrip_DateTime").val(nDate);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#WagonsTable').DataTable({

                "scrollY": "200px",
                "scrollCollapse": true,
                "paging": false,
                "fixedHeader": {
                    header: true,
                },
                responsive: true,
                "language": {
                    "decimal": "",
                    "emptyTable": "",
                    "info": "_START_ تا _END_ از _TOTAL_ ردیف",
                    "infoEmpty": " 0 تا 0 از 0 ردیف",
                    "infoFiltered": "(پالایش شده از _MAX_ ردیف)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "نمایش _MENU_",
                    "loadingRecords": "دریافت داده‌ها ...",
                    "processing": "پردازش داده‌ها ...",
                    "search": '<i class="fa fa-search"></i>',
                    "zeroRecords": "",
                    "paginate": {
                        "first": "نخستین",
                        "last": "واپسین",
                        "next": "پسین",
                        "previous": "پیشین"
                    }
                }
            });
        });
        $(document).ready(function () {
            $('#SelectedWagonsTable').DataTable({

                "scrollY": "200px",
                "scrollCollapse": true,
                "paging": false,
                "fixedHeader": {
                    header: true,
                },
                "searching": false,
                "ordering": false,
                "info": false,
                responsive: true,
                "language": {
                    "decimal": "",
                    "emptyTable": "",
                    "info": "_START_ تا _END_ از _TOTAL_ ردیف",
                    "infoEmpty": " 0 تا 0 از 0 ردیف",
                    "infoFiltered": "(پالایش شده از _MAX_ ردیف)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "نمایش _MENU_",
                    "loadingRecords": "دریافت داده‌ها ...",
                    "processing": "پردازش داده‌ها ...",
                    "search": '<i class="fa fa-search"></i>',
                    "zeroRecords": "",
                    "paginate": {
                        "first": "نخستین",
                        "last": "واپسین",
                        "next": "پسین",
                        "previous": "پیشین"
                    }
                }
            });
        });
    </script>
    <script>
        var selected = [];
        $('input[type=checkbox]').change(function () {
            var label = $("label[for='" + $(this).attr('id') + "']");

            var name = label.text();
            var id = "SelWagon" + name;
            if ($(this).prop("checked") == true) {
                $("#selectedWagons").append("<tr id=\"" + id + "\"> <td>" + name + "</td></tr>");
                selected.push(name);
            }

            if ($(this).prop("checked") == false) {
                selected = selected.filter(function (ele) {
                    return ele != name;
                });
                $("#" + id).remove();
            }
            $("#selectedCount").text(selected.length);
        });
    </script>
}