@model VinarishMvc.Models.TrainTrip

@{
    ViewData["Title"] = Expressions.DeleteItemTitle(Expressions.Trip);
}
<h3>@Expressions.DeleteItemAsk(Expressions.Trip)</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Train)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Train.Name)
        </dd>
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Reporter)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Reporter.VinarishUserId)
            </dd>*@
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TrainTripId" />
        <input type="submit" value="@Expressions.Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Expressions.BackToIndex</a>
    </form>
</div>