@model VinarishMvc.Models.TrainTrip

@{
    ViewData["Title"] = Expressions.Trip;
}

<div class="container">
    <h4>@Expressions.Trip</h4>
    <div class="row">
        <div class="col">
            @Html.DisplayNameFor(model => model.DateTime)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Train)
        </div>
        <div class="col"></div>
        @*<div class="col">
                @Html.DisplayNameFor(model => model.Reporter)
            </div>*@
    </div>
    <div class="row">
        <div class="col">
            @{ var dt = Model.DateTime.ToString("yy/MM/dd");}
            @Html.DisplayFor(modelItem => dt)
        </div>
        <div class="col">
            @Html.DisplayFor(modelItem => Model.Train.Name)
        </div>
        @*<div class="col">
                @Html.DisplayFor(modelItem => Model.Reporter.UserName)
            </div>*@
        <div class="col">
            <a asp-action="Edit" asp-route-id="@Model.TrainTripId"><i class="fa fa-edit fa-lg m-2"></i> </a> |
            <a asp-action="Index">@Expressions.BackToIndex</a>
        </div>
    </div>
</div>
@Html.DisplayNameFor(model => model.WagonsOfTrip)
@await Html.PartialAsync("~/Views/Reports/_ProgressWagonTrip.cshtml", Model.WagonsOfTrip)