@model IEnumerable<VinarishMvc.Models.TrainTrip>

@{
    ViewData["Title"] = "سفرها";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"><i class="fa fa-plus-square fa-2x"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Train)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reporter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-toggle="collapse" data-target="#accordion-@item.TrainTripId">
                <td>
                    @{ var dt = item.DateTime.ToString("yy/MM/dd");}
                    @Html.DisplayFor(modelItem => dt)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TrainTripId">
                        @Html.DisplayFor(modelItem => item.Train.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reporter.UserName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TrainTripId"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.TrainTripId"><i class="fa fa-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.TrainTripId"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div id="accordion-@item.TrainTripId" class="collapse">
                        واگن‌ها:
                        @foreach (var w in item.WagonsOfTrip)
                        {
                            <span>@w.Wagon.Number ,</span>
                        }
                        .
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
