@model IEnumerable<VinarishMvc.Models.TrainTrip>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Train)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reporter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Train.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reporter.VinarishUserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrainTripId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrainTripId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrainTripId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
