@model IEnumerable<VinarishMvc.Models.TrainTrip>

@{
    ViewData["Title"] = "سفرها";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"><i class="fa fa-plus-square fa-2x"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Train)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reporter)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-toggle="collapse" data-target="#accordion-@item.TrainTripId">
                <td>
                    @{ var dt = item.DateTime.ToString("yy/MM/dd");}
                    @Html.DisplayFor(modelItem => dt)
                </td>
                <td style="transform: rotate(0);">

                    @Html.DisplayFor(modelItem => item.Train.Name)
                    <a asp-action="Details" asp-route-id="@item.TrainTripId" class="stretched-link"></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reporter.UserName)
                </td>
                @{
                    int warning = 0;
                    int success = 0;
                    int danger = 0;
                    int info = 0;
                    foreach (WagonTrip wt in item.WagonsOfTrip)
                    {
                        foreach (Report r in wt.Reports)
                        {
                            if (r.DeviceStatus.DeviceStatusType == DeviceStatusType.Malfunction)
                            {
                                switch (r.Status)
                                {
                                    case ReportStatus.Waiting: warning++; break;
                                    case ReportStatus.InProgress: info++; break;
                                    case ReportStatus.Processed: success++; break;
                                    case ReportStatus.Postponed: danger++; break;
                                }
                            }
                        }
                    }
                }
                <td>
                    @if (warning > 0)
                    {
                        <span class="badge badge-warning badge-pill" data-toggle="tooltip" data-placement="top" title="@Expressions.MalfunctionReportToolTip">@warning</span>

                    }
                    @if (success > 0)
                    {
                        <span class="badge badge-success badge-pill" data-toggle="tooltip" data-placement="top" title="@Expressions.RepairReportToolTip">@success</span>

                    }
                    @if (danger > 0)
                    {
                        <span class="badge badge-danger badge-pill" data-toggle="tooltip" data-placement="top" title="@Expressions.NotRepairedReportToolTip">@danger</span>

                    }
                    @if (info > 0)
                    {
                        <span class="badge badge-info badge-pill" data-toggle="tooltip" data-placement="top" title="@Expressions.InProgressToolTip">@info</span>

                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TrainTripId"><i class="fa fa-edit fa-lg m-2"></i></a>
                    <a asp-action="Details" asp-route-id="@item.TrainTripId"><i class="fa fa-info fa-lg m-2"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.TrainTripId"><i class="fa fa-trash fa-lg m-2"></i></a>
                </td>
            </tr>
            @*<tr>
                    <td colspan="3">
                        <div id="accordion-@item.TrainTripId" class="collapse">
                            واگن‌ها:
                            @foreach (var w in item.WagonsOfTrip)
                            {
                                <span>@w.Wagon.Number ,</span>
                            }
                            .
                        </div>
                    </td>
                </tr>*@
        }
    </tbody>
</table>
