@page
@model Vinarish.Pages.Persons.DeleteModel

<h3>آیا می‌خواهید این شخص را پاک کنید؟</h3>
<div>
    <h4>شخص</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Department.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Person.Id" />
        <input type="submit" value="زدایش" class="btn btn-danger" /> |
        <a asp-page="./Index">بازگشت به فهرست</a>
    </form>
</div>
