@page
@model Vinarish.Pages.Persons.DetailsModel

<div>
    <h4>شخص</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person.Id">ویرایش</a> |
    <a asp-page="./Index">بازگشت به فهرست</a>
</div>
