@model VinarishMvc.Models.StatCode

@{
    ViewData["Title"] = "جزئیات کد وضعیت";
}

<h1>جزئیات</h1>

<div>
    <h4>کد وضعیت</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cat.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" role="button" asp-route-id="@Model.Id">ویرایش</a> |
    <a asp-action="Index" class="btn btn-secondary" role="button">بازگشت به فهرست</a>
</div>
