@model VinarishMvc.Models.DeviceStatus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeviceStatus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceStatusType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceStatusType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StatusId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
