@model VinarishMvc.Models.Train

@{
    ViewData["Title"] =Expressions.DeleteItemTitle(Expressions.Train);
}
<h3>@Expressions.DeleteItemAsk(Expressions.Train)</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TrainId" />
        <input type="submit" value="@Expressions.Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Expressions.BackToIndex</a>
    </form>
</div>
