@model IEnumerable<VinarishMvc.Models.Train>

@{
    ViewData["Title"] = "فهرست رام‌ها";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"><i class="fa fa-plus-square fa-2x"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrainId"><i class="fa fa-edit fa-lg m-2"></i></a>
                <a asp-action="Delete" asp-route-id="@item.TrainId"><i class="fa fa-trash fa-lg m-2"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
