@model VinarishMvc.Models.DeviceType

@{
    ViewData["Title"] = "پاک کردن "+ @Expressions.DeviceTypes;
}
<h3>آیا می‌خواهید این @Expressions.DeviceTypes پاک شود؟</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DeviceTypeId" />
        <input type="submit" value="پاک شود" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت به فهرست</a>
    </form>
</div>
