@model IEnumerable<VinarishMvc.Models.DevicePlace>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Upload" method="post"
      enctype="multipart/form-data">
    <input type="file" name="file" class="btn btn-light" />
    <div class="form-group">
        <input type="submit" value="افزودن از اکسل" class="btn btn-light" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DevicePlaceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DevicePlaceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DevicePlaceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
