@model IEnumerable<VinarishMvc.Models.DevicePlace>

@{
    ViewData["Title"] = "دستگاه‌ها";
}

    <h1>@ViewData["Title"]</h1>

    <p>
        <a asp-action="Create"><i class="fa fa-plus-square fa-lg m-2"></i></a>
        <a asp-action="Upload"><i class="fa fa-upload fa-lg m-2"></i></a>
        <a asp-action="Download"><i class="fa fa-download fa-lg m-2"></i></a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DevicePlaceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DevicePlaceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DevicePlaceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
