@model IEnumerable<VinarishMvc.Models.WagonTrip>
<div class="accordion" id="accordion">
    @foreach (WagonTrip wt in Model)
    {
        int warning = 0;
        int success = 0;
        int danger = 0;
        int info = 0;
        var w = wt.Wagon;
        foreach (Report r in w.Reports)
        {
            if (r.DeviceStatus.DeviceStatusType == DeviceStatusType.Malfunction)
            {
                switch (r.Status)
                {
                    case ReportStatus.Waiting: warning++; break;
                    case ReportStatus.InProgress: info++; break;
                    case ReportStatus.Processed: success++; break;
                    case ReportStatus.Postponed: danger++; break;
                }
            }
        }
        <div class="card">
            <div class="card-header" id="headingOne">
                <div class="mb-0" data-toggle="collapse" data-target="#wagon-@w.Name">
                    <div class="d-flex justify-content-between">
                        <strong class="">@w.Name</strong>

                        <div class="justify-content-end">
                            @if (warning > 0)
                            {
                                <span class="badge badge-warning badge-pill" data-toggle="tooltip" data-placement="top" title="@Expressions.MalfunctionReportToolTip">@warning</span>

                            }
                            @if (success > 0)
                            {
                                <span class="badge badge-success badge-pill" data-toggle="tooltip" data-placement="top" title="@Expressions.RepairReportToolTip">@success</span>

                            }
                            @if (danger > 0)
                            {
                                <span class="badge badge-danger badge-pill" data-toggle="tooltip" data-placement="top" title="@Expressions.NotRepairedReportToolTip">@danger</span>

                            }
                            @if (info > 0)
                            {
                                <span class="badge badge-info badge-pill" data-toggle="tooltip" data-placement="top" title="@Expressions.InProgressToolTip">@info</span>

                            }
                            <a asp-action="CreateTripReport" asp-controller="Reports" asp-route-id="@wt.WagonTripId" data-toggle="tooltip" data-placement="top" title="ثبت گزارش خرابی">
                                <i class="fa fa-plus-circle fa-lg m-2 text-danger"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="wagon-@w.Name" class="collapse" data-parent="#accordion">
                @await Html.PartialAsync("~/Views/Reports/_ProgressList.cshtml", w.Reports)
            </div>
        </div>
    }
</div>