@model VinarishMvc.Models.Report

@{
    string color = "";
    switch (Model.Status)
    {
        case ReportStatus.Waiting: color = "warning"; break;
        case ReportStatus.Processed: color = "success"; break;
        case ReportStatus.Postponed: color = "danger"; break;
        case ReportStatus.InProgress: color = "bg-info"; break;// TODO: InProgress
    }
}
<div class="@Model.Status.ToString()">
    <div class="card text-right border-@color" style="border-width:3px;margin:1px;">
        <a class="text-dark card-header bg-light" style="text-decoration:none;" href="#body-footer-@Model.ReportId" data-toggle="collapse">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 col-md-6">
                        @Html.DisplayFor(modelItem => Model.DevicePlace.Description)
                    </div>
                    <div class="col-6 col-md-6">
                        @Html.DisplayFor(modelItem => Model.DeviceStatus.Text)
                    </div>
                    <div class="col-6 col-md-6">
                        @Html.DisplayFor(modelItem => Model.DateTimeCreated)
                    </div>
                    <div class="col-6 col-md-6">
                        @Html.DisplayFor(modelItem => Model.Reporter.UserName)
                    </div>
                </div>
            </div>
        </a>
        <div id="body-footer-@Model.ReportId" class="collapse hsparent">
            <div class="card-group">
                <div class="card" style="margin:0;">
                    <div class="card-footer btn-group" dir="ltr">
                        <a asp-controller="Reports" asp-action="Edit" asp-route-id="@Model.ReportId" role="button" class="btn btn-info">
                            @(Expressions.Edit)
                            <i class="fa fa-edit fa-lg m-2"></i>
                        </a>
                        <a asp-controller="Reports" asp-action="CreateUnrepairedReport" asp-route-id="@Model.ReportId" role="button" class="btn btn-danger">
                            @(Expressions.Report + Expressions.RepairNot)
                            <i class="fa fa-warning fa-lg m-2"></i>
                        </a>
                        <a asp-controller="Reports" asp-action="CreateRepairingReport" asp-route-id="@Model.ReportId" rol="button" class="btn btn-success">
                            @(Expressions.Report + Expressions.Repair)
                            <i class="fa fa-wrench  fa-lg m-2"></i>
                        </a>
                    </div>
                </div>
                @foreach (Report r in Model.AppendixReports)
                {
                    <div class="card" style="margin:0;">
                        <div class="card-body">
                            <div class="container">
                                <span>
                                    @Html.DisplayFor(modelItem => r.DateTimeCreated)
                                </span>
                                <span>
                                    @Html.DisplayFor(modelItem => r.Site.Name)
                                </span>
                                <br />
                                <span>
                                    @Html.DisplayFor(modelItem => r.DeviceStatus.Text)
                                </span>
                                <br />
                                <span>
                                    @Html.DisplayFor(modelItem => r.Reporter.UserName)
                                </span>
                                <br />
                                <span>
                                    @foreach (var a in r.Assistants)
                                    {
                                        <span class="badge badge-info">@Html.DisplayFor(modelItem => a.Person.UserName)</span>
                                    }
                                </span>
                            </div>
                        </div>
                        @*<div class="card-footer">
                                <a class="btn btn-dark" asp-action="Delete" asp-controller="Reports" asp-route-id="@r.ReportId">
                                    <span>@Expressions.DeleteItemTitle(Expressions.Report)</span>
                                    <i class="fa fa-trash  fa-lg m-2"></i>
                                </a>
                            </div>*@
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<style>
    .card {
        min-width: 150px;
    }
</style>