@model IEnumerable<VinarishMvc.Models.WagonTrip>
<div class="accordion" id="accordion">
    @foreach (WagonTrip wt in Model)
    {
        int warning = 0;
        int success = 0;
        int danger = 0;
        int info = 0;
        var w = wt.Wagon;
        foreach (Report r in w.Reports)
        {
            switch (r.Status)
            {
                case ReportStatus.Waiting: warning++; break;
                case ReportStatus.InProgress: info++; break;
                case ReportStatus.Processed: success++; break;
                case ReportStatus.Postponed: danger++; break;
            }
        }
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-block d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#wagon-@w.Number">
                        @w.Number
                        @if (warning > 0)
                        {
                            <span class="badge badge-warning badge-pill">@warning</span>

                        }
                        @if (success > 0)
                        {
                            <span class="badge badge-success badge-pill">@success</span>

                        }
                        @if (danger > 0)
                        {
                            <span class="badge badge-danger badge-pill">@danger</span>

                        }
                        @if (info > 0)
                        {
                            <span class="badge badge-info badge-pill">@info</span>

                        }
                    </button>
                </h2>
            </div>

            <div id="wagon-@w.Number" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <a asp-action="CreateTripReport" asp-controller="Reports" asp-route-id="@wt.WagonTripId">
                        <i class="fa fa-plus-circle text-danger"></i>
                    </a>
                    @await Html.PartialAsync("~/Views/Reports/_ProgressList.cshtml", w.Reports)
                </div>
            </div>
        </div>
    }
</div>
