@model VinarishMvc.Models.Report

@{
    string color = "";
    switch (Model.Status)
    {
        case ReportStatus.Waiting: color = "warning"; break;
        case ReportStatus.Processed: color = "success"; break;
        case ReportStatus.Postponed: color = "danger"; break;
            //case ReportStatus.InProgress: color = "bg-info"; break; TODO: InProgress
    }
}
<div>
    <div class="card text-right border-@color" style="border-width:3px;margin:1px;">
        <a style="text-decoration:none;" href="#body-footer-@Model.ReportId" data-toggle="collapse">

            <div class="card-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 col-md-6">
                            @Html.DisplayFor(modelItem => Model.DevicePlace.Description)
                        </div>
                        <div class="col-6 col-md-6">
                            @Html.DisplayFor(modelItem => Model.DeviceStatus.Text)
                        </div>
                        <div class="col-6 col-md-6">
                            @Html.DisplayFor(modelItem => Model.DateTimeCreated)
                        </div>
                        <div class="col-6 col-md-6">
                            @Html.DisplayFor(modelItem => Model.Reporter.UserName)
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <div id="body-footer-@Model.ReportId" class="collapse hsparent">
            <div class="card-group">
                <div class="card" style="margin:0;">
                    <div class="card-footer btn-group" dir="ltr">
                        <a class="btn btn-dark" asp-action="Delete" asp-controller="Reports" asp-route-id="@Model.ReportId">
                            <span>@Expressions.DeleteItemTitle(Expressions.Report)</span>
                            <i class="fa fa-trash  fa-lg m-2"></i>
                        </a>
                        <a class="btn btn-success" asp-controller="Reports" asp-action="CreateTripRepairingReport" asp-route-id="@Model.ReportId">
                            <span>@Expressions.AddItemTitle(Expressions.Report + Expressions.Repair)</span>
                            <i class="fa fa-wrench  fa-lg m-2"></i>
                        </a>
                    </div>
                </div>
                @foreach (Report r in Model.AppendixReports)
                {
                    <div class="card" style="margin:0;">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        @Html.DisplayFor(modelItem => r.DateTimeCreated)
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(modelItem => r.DeviceStatus.Text)
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col">
                                        @Html.DisplayFor(modelItem => r.Reporter.UserName)
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(modelItem => r.Site.Name)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a asp-action="Delete" asp-controller="Reports" asp-route-id="@r.ReportId">
                                <i class="fa fa-trash  fa-lg m-2"></i>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<style>
    .card {
        min-width: 150px;
    }
</style>