@model IEnumerable<VinarishMvc.Models.Report>

@foreach (var item in Model)
{
    @if (item.AppendixReportId == null)
    {
        <div class="card mb-3">
            <div class="card-header text-white bg-dark">
                <div class="row align-items-start">
                    <div class="col">
                        @Html.DisplayNameFor(model => model.Wagon):@Html.DisplayFor(modelItem => item.Wagon.WagonId)
                    </div>
                    <div class="col">
                        @Html.DisplayNameFor(model => model.Place):@Html.DisplayFor(modelItem => item.Place.Text)
                    </div>
                </div>
            </div>
            <div class="card-body">
                @{
                    var appendices = Model.Where(rep => rep.AppendixReportId == item.Id || rep.Id == item.Id)
                        .OrderBy(c => c.DateTime);
                }
                @foreach (var appendix in appendices)
                {
                    <div class="row align-items-start">
                        <div class="col">
                            @{ var dt = appendix.DateTime.ToString("yy/MM/dd HH:mm");}
                            @Html.DisplayFor(modelItem => dt)
                        </div>
                        <div class="col">
                            @Html.DisplayFor(modelItem => appendix.Code.Text)
                        </div>
                        <div class="col">
                            @Html.DisplayFor(modelItem => appendix.Reporter.LastName)
                        </div>
                    </div>
                }
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary stretched-link" role="button">جزئیات</a>
            </div>
        </div>
    }
}