@model VinarishMvc.Models.Report

@{
    ViewData["Title"] = "افزودن گزارش";
}
<div>
    <h4>افزودن گزارش</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
            @* // TODO: Show date and time in persian *@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsValid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsValid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppendixReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppendixReport.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cat.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reporter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reporter.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wagon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wagon.WagonId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" role="button" asp-route-id="@Model.Id">ویرایش</a> |
    <a asp-action="Index" class="btn btn-secondary" role="button">بازگشت به فهرست</a>
</div>
