@model VinarishMvc.Models.Report
@using System.Web
@{
    ViewData["Title"] = "افزودن گزارش";
}
    <div id="det">
        <h4>جزئیات گزارش</h4>
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateTime)
                </dt>
                <dd class="col-sm-10">
                    @Model.DateTime.ToString("yy/MM/dd HH:mm")
                    @* // TODO: Show date and time in persian *@
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Wagon)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Wagon.WagonId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Place)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Place.Text)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Code)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Code.Text)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Reporter)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Reporter.FullName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsValid)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IsValid)
                </dd>

                @foreach (Report aprep in Model.InverseAppendixReport.OrderBy(r => r.DateTime))
                {

                    <dt class="col-sm-10">
                        <span class="font-weight-bolder">گزارش پیوسته</span>
                    </dt>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Code)
                    </dt>
                    <dd class="col-sm-10">

                        @using (Html.BeginForm("Details", "Reports", new { Id = @aprep.Id }, FormMethod.Post))
                        {

                            <button class="btn btn-primary" type="submit" name="GoToAppendixDetails">
                                @Model.AppendixReport.Code.Text
                            </button>
                        }
                    </dd>
                }
            </dl>
        </div>
        <div class="modal-footer">
            <a asp-action="Edit" class="btn btn-primary" role="button" asp-route-id="@Model.Id">ویرایش</a>
            <a asp-action="Append" class="btn btn-success" role="button" asp-route-id="@Model.Id">پیوست گزارش نو</a>
            <button type="button" class="btn btn-light" data-dismiss="modal">بستن</button>
        </div>
    </div>