@model IEnumerable<VinarishMvc.Models.Report>

@{
    ViewData["Title"] = Expressions.Reports;
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"><i class="fa fa-plus-square fa-lg m-2"></i></a>
    <a asp-action="Upload"><i class="fa fa-upload fa-lg m-2"></i></a>
    <a asp-action="Download"><i class="fa fa-download fa-lg m-2"></i></a>
</p>
<table class="table table-hover table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wagon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevicePlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reporter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th>
                @*.ChildReports.UserName.*@
                @Expressions.Repairer
            </th>
            <th>
                @*.ChildReports.Code.*@
                @Html.DisplayNameFor(model => model.DeviceStatus)
            </th>
            <th>
                @*.ChildReports.DateTimeCreated.*@
                @Html.DisplayNameFor(model => model.DateTimeCreated)  @Expressions.Repair
            </th>
            <th>
                @Expressions.Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.ParentReport == null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTimeCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wagon.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DevicePlace.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reporter.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeviceStatus.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Site.Name)
                    </td>
                    <td>
                        @if (item.AppendixReports != null &&
                       item.AppendixReports.Count > 0)
                        {
                            @Html.DisplayFor(modelItem => item.AppendixReports[0].Reporter.UserName);
                        }
                    </td>
                    <td>
                        @if (item.AppendixReports.Count > 0)
                        {
                            @Html.DisplayFor(modelItem => item.AppendixReports[0].DeviceStatus.Code);
                        }
                    </td>
                    <td>
                        @if (item.AppendixReports.Count > 0)
                        {
                            @Html.DisplayFor(modelItem => item.AppendixReports[0].DateTimeCreated);
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ReportId"><i class="fa fa-edit fa-lg m-1"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.ReportId"><i class="fa fa-trash fa-lg m-1"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>