@model IEnumerable<VinarishMvc.Models.Report>

@{
    ViewData["Title"] = "فهرست گزارش‌ها";
}

<h1>فهرست گزارش‌ها</h1>

<p>
    <a asp-action="Create" class="btn btn-success" role="button">افزودن</a>
    <a data-toggle="collapse" href="#collapseExample" class="btn btn-info" role="button">پالایش</a>
    <a asp-action="Index" class="btn btn-primary" role="button">نمایش همه</a>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            @{Utilities.LoadSearchViewBag(Model, ViewData); }

            @await Html.PartialAsync("Search", Model)
        </div>
    </div>
</p>
<div class="container">
    <div class="row p-3 mb-2 bg-dark text-light">
        <div class="col">
            @Html.DisplayNameFor(model => model.Wagon)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Place)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Code)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.DateTime)
        </div>
    </div>
    @foreach (var item in Model.OrderBy(r => r.DateTime))
    {
        @using (Html.BeginForm("Details", "Reports", new { Id = item.Id }, FormMethod.Post))
        {
            <div class="row p-3 mb-2 bg-light text-dark">

                <div class="col">
                    @Html.DisplayFor(modelItem => item.Wagon.WagonId)
                </div>
                <div class="col">
                    @Html.DisplayFor(modelItem => item.Place.Text)
                </div>
                <div class="col">
                    @Html.DisplayFor(modelItem => item.Code.Text)
                </div>
                <div class="col">
                    @{ var dt = item.DateTime.ToString("yy/MM/dd HH:mm");}
                    @Html.DisplayFor(modelItem => dt)
                    <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" type="submit" name="submit">
                        جزئیات
                    </button>
                </div>

            </div>
        }
    }
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div id="modalcontent" class="modal-content p-3">
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        $("button[name=submit]").click(function () {
            var $form = $(this).parent().parent().parent();
            $form.submit(function (e) {
                return false;
                var $form = $(this);
            });
            $.post($form.attr("action"), $form.serialize()).done(function (res) {
                $mymodal = $("#exampleModal");
                //update the modal's body with the response received
                $("#modalcontent").html(res);
                var $gotoappendixButton = $("button[name=GoToAppendixDetails]");
                $gotoappendixButton.click(function () {
                    var $form = $gotoappendixButton.parent();
                    $form.submit(function (e) {
                        return false;
                    });
                    $.post($form.attr("action"), $form.serialize()).done(function (res) {
                        $mymodal = $("#det");
                        //update the modal's body with the response received
                        $("#det").html(res);
                    });
                });
            });
        });
    </script>
}
