@model IEnumerable<VinarishMvc.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reporter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentReport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevicePlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wagon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reporter.VinarishUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceStatus.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentReport.ReportId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevicePlace.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wagon.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReportId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReportId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
