@model IEnumerable<VinarishMvc.Models.Report>

<div class="container">
    <div class="row p-3 mb-2 bg-dark text-light">
        <div class="col">
            @Html.DisplayNameFor(model => model.Wagon)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Place)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Code)
        </div>
        <div class="col">
            زمان گذشته
        </div>
    </div>
    @foreach (var item in Model
.OrderByDescending(r => r.WagonId)
.OrderByDescending(r => r.PlaceId))
    {
        <a asp-action="Details" asp-route-id="@item.Id">
            <div class="row p-3 mb-2 bg-light text-dark">

                <div class="col">
                    @Html.DisplayFor(modelItem => item.Wagon.WagonId)
                </div>
                <div class="col">
                    @Html.DisplayFor(modelItem => item.Place.Text)
                </div>
                <div class="col">
                    @Html.DisplayFor(modelItem => item.Code.Text)
                </div>
                <div class="col text-danger">
                    @{
                        var elapsedMin = (DateTime.Now - item.DateTime).Minutes;
                        var elapsedHrs = (DateTime.Now - item.DateTime).Hours;
                    }
                    @elapsedHrs ساعت
                    - @elapsedMin دقیقه
                </div>
            </div>
        </a>
    }
</div>
<a asp-action="MalfunctionOverview" asp-controller="Reports" class="btn btn-secondary" role="button">بازگشت به آمار</a>
