@model IEnumerable<VinarishMvc.Models.Report>

<div class="container">
    <div class="row p-3 mb-2 bg-dark text-light">
        <div class="col">
            @Html.DisplayNameFor(model => model.Wagon)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Place)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Code)
        </div>
        <div class="col">
            زمان گذشته
        </div>
        <div class="col">
        </div>
    </div>
    @foreach (var item in Model
.OrderByDescending(r => r.WagonId)
.OrderByDescending(r => r.PlaceId))
    {

        @using (Html.BeginForm("Details", "Reports", new { Id = item.Id }, FormMethod.Post))
        {
            <div class="row p-3 mb-2 bg-light text-dark">

                <div class="col">
                    @Html.DisplayFor(modelItem => item.Wagon.WagonId)
                </div>
                <div class="col">
                    @Html.DisplayFor(modelItem => item.Place.Text)
                </div>
                <div class="col">
                    @Html.DisplayFor(modelItem => item.Code.Text)
                </div>
                <div class="col text-danger">
                    @{
                        var elapsedMin = (DateTime.Now - item.DateTime).Minutes;
                        var elapsedHrs = (DateTime.Now - item.DateTime).Hours;
                    }
                    @elapsedHrs ساعت
                    - @elapsedMin دقیقه

                </div>

                <div class="col">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" type="submit" name="submit">
                        جزئیات
                    </button>
                </div>
            </div>
        }
    }
</div>
<a asp-action="MalfunctionOverview" asp-controller="Reports" class="btn btn-secondary" role="button">بازگشت به آمار</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div id="modalcontent" class="modal-content p-3">
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        $("button[name=submit]").click(function () {
            var $form = $(this).parent().parent().parent();
            $form.submit(function (e) {
                return false;
                var $form = $(this);
            });
            $.post($form.attr("action"), $form.serialize()).done(function (res) {
                $mymodal = $("#exampleModal");
                //update the modal's body with the response received
                $("#modalcontent").html(res);
                var $gotoappendixButton = $("button[name=GoToAppendixDetails]");
                $gotoappendixButton.click(function () {
                    var $form = $gotoappendixButton.parent();
                    $form.submit(function (e) {
                        return false;
                    });
                    $.post($form.attr("action"), $form.serialize()).done(function (res) {
                        $mymodal = $("#det");
                        //update the modal's body with the response received
                        $("#det").html(res);
                    });
                });
            });
        });
    </script>
}
