@model IEnumerable<VinarishMvc.Models.Report>
@{
    Report report = new Report();
}
<h3>پالایش گزارش‌ها بر اساس:</h3>
@using (Html.BeginForm())
{
<div class="container">
    <div class="row">
        <div class="col"><input type="checkbox" class="SelCatCk form-control" /></div>
        <div class="col">افزار</div>
        <div class="col-6"><select asp-for="@report.CatId" asp-items="ViewBag.Cats" class="form-control" disabled></select></div>
    </div>
    <div class="row">
        <div class="col"><input type="checkbox" class="SelCatCk form-control" /></div>
        <div class="col">موقعیت</div>
        <div class="col-6"><select asp-for="@report.PlaceId" asp-items="ViewBag.Places" class="form-control" disabled></select></div>
    </div>
    <div class="row">
        <div class="col"><input type="checkbox" class="SelCatCk form-control" /></div>
        <div class="col">وضعیت</div>
        <div class="col-6"><select asp-for="@report.CodeId" asp-items="ViewBag.Codes" class="form-control" disabled></select></div>
    </div>
    <div class="row">
        <div class="col"><input type="checkbox" class="SelCatCk form-control" /></div>
        <div class="col">گزارشگر</div>
        <div class="col-6"><select asp-for="@report.ReporterId" asp-items="ViewBag.Reporters" class="form-control" disabled></select></div>
    </div>
    @*<div class="row">
        <div class="col"><input type="checkbox" class="SelCatCk form-control" /></div>
        <div class="col">رام</div>
        <div class="col-6">
            @Html.DropDownList("TrainId", new SelectList(Model.Select(r => r.Wagon.Train),"Id","TrainId"),
                    new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>*@
    <div class="row">
        <div class="col"><input type="checkbox" class="SelCatCk form-control" /></div>
        <div class="col">واگن</div>
        <div class="col-6"><select asp-for="@report.WagonId" asp-items="ViewBag.Wagons" class="form-control" disabled></select></div>
    </div>
    <div class="row">
        <div class="col"><input type="checkbox" class="SelCatCk form-control" /></div>
        <div class="col">از</div>
        <div class="col-6"><input type="date" name="from" class="form-control" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" disabled /></div>
    </div>
    <div class="row">
        <div class="col"><input type="checkbox" class="SelCatCk form-control" /></div>
        <div class="col">تا</div>
        <div class="col-6"><input type="date" name="to" class="form-control" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" disabled /></div>
    </div>
    <div class="row justify-content-center">
        <div class="col  align-self-center">
            <input type="submit" value="پالایش" class="btn btn-primary" />
        </div>
    </div>
</div>

}
