@page
@model Vinarish.Pages.Departments.IndexModel

<p>
    <a asp-page="Create">افزودن</a>
</p>
<div class="table-responsive">
  <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Department) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">ریزگان</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">زدایش</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
