@{
    ViewData["Title"] = "خانه";
}
@using VinarishMvc.Areas.Identity.Models

@using Microsoft.AspNetCore.Identity
@inject SignInManager<VinarishUser> SignInManager
<div class="text-center">
    <img src="~/img/ویناریش.png" width="150" />
    <h1>ویناریش</h1>
    <h4>سامانه‌ی نگهداری و بازسازی سازوبرگ راه‌آهن</h4>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="card-group align-middle">
            <div class="card text-center mr-1 rounded-lg">
                <div class="card-body">
                    <a asp-action="Index" asp-controller="Departments" class="btn btn-outline-dark btn-lg btn-block" role="button">@Expressions.Departments</a>
                    <a asp-action="Index" asp-controller="Trains" class="btn btn-outline-dark btn-lg btn-block" role="button">@Expressions.Train</a>
                    <a asp-action="Index" asp-controller="Wagons" class="btn btn-outline-dark btn-lg btn-block" role="button">@Expressions.Wagon</a>
                    <a asp-action="Index" asp-controller="DeviceTypes" class="btn btn-outline-dark btn-lg btn-block" role="button">@Expressions.Devices</a>
                    <a asp-action="Index" asp-controller="TrainTrips" class="btn btn-outline-dark btn-lg btn-block" role="button">@Expressions.Trips</a>
                    <a asp-action="Index" asp-controller="Reports" class="btn btn-outline-dark btn-lg btn-block" role="button">@Expressions.Reports</a>
                    <a asp-area="Authentication" asp-controller="UserProfiles" asp-action="Index" class="btn btn-outline-dark btn-lg btn-block">کاربران</a>
                </div>
            </div>
        </div>
    }
    <p>contact@@vinarish.com</p>
</div>