@model IEnumerable<VinarishMvc.Models.Wagon>

@{
    ViewData["Title"] = Expressions.IndexTitle(Expressions.Wagons);
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"><i class="fa fa-plus-square fa-2x"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>@Expressions.Reports</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <a class="btn btn-light btn-block" asp-action="Details" asp-route-id="@item.WagonId">
                        @Html.DisplayFor(modelItem => item.Number)
                    </a>
                </td>
                @{
                    int warning = 0;
                    int success = 0;
                    int danger = 0;
                    int info = 0;
                    foreach (Report r in item.Reports)
                    {
                        switch (r.Status)
                        {
                            case ReportStatus.Waiting: warning++; break;
                            case ReportStatus.InProgress: info++; break;
                            case ReportStatus.Processed: success++; break;
                            case ReportStatus.Postponed: danger++; break;
                        }
                    }
                }
                <td>
                    @if (warning > 0)
                    {
                        <span class="badge badge-warning badge-pill" data-toggle="tooltip" data-placement="top" title="@Expressions.MalfunctionReportToolTip">@warning</span>

                    }
                    @if (success > 0)
                    {
                        <span class="badge badge-success badge-pill" data-toggle="tooltip" data-placement="top" title="@Expressions.RepairReportToolTip">@success</span>

                    }
                    @if (danger > 0)
                    {
                        <span class="badge badge-danger badge-pill" data-toggle="tooltip" data-placement="top" title="@Expressions.NotRepairedReportToolTip">@danger</span>

                    }
                    @if (info > 0)
                    {
                        <span class="badge badge-info badge-pill" data-toggle="tooltip" data-placement="top" title="@Expressions.InProgressToolTip">@info</span>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@*<form asp-action="Upload" method="post"
          enctype="multipart/form-data">
        <input type="file" name="file" class="btn btn-light" />
        <div class="form-group">
            <input type="submit" value="@Expressions.ImportFromExcel" class="btn btn-light" />
        </div>
    </form>*@