@model IEnumerable<VinarishMvc.Areas.Authentication.Models.UserProfile>

@{
    ViewData["Title"] = "فهرست کاربران";

    List<Reporter>
        reporters = ViewBag.Reporters;
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"><i class="fa fa-plus-square fa-2x"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Expressions.Departments
            </th>
            @*
                <th>
                    @Html.DisplayNameFor(model => model.ProfilePicture)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => reporters.Where(r => r.VinarishUserId == item.VinarishUserId).FirstOrDefault().Department.Name)
                </td>
                @*
                    <td>
                        <img src="@item.ProfilePicture" width="50" />
                    </td>*@
                <td>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                            گزینه‌ها
                        </button>
                        <div class="dropdown-menu">
                            <a asp-action="ChangeRole" asp-route-id="@item.UserProfileId" class="dropdown-item">دسترسی‌ها</a>
                            <a asp-action="Create" asp-controller="Reporters" asp-route-id="@item.VinarishUserId" class="dropdown-item">بخش</a>
                            <a asp-action="ChangePassword" asp-route-id="@item.UserProfileId" class="dropdown-item">تغییر رمز</a>
                            <a asp-action="Edit" asp-route-id="@item.UserProfileId" class="dropdown-item">ویرایش</a>
                            <a asp-action="Details" asp-route-id="@item.UserProfileId" class="dropdown-item">جزئیات</a>
                            <a asp-action="Delete" asp-route-id="@item.UserProfileId" class="dropdown-item">پاک کردن</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>