@model IEnumerable<VinarishMvc.Areas.Authentication.Models.UserProfile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <img src="@item.ProfilePicture" width="50" />
            </td>
            <td>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                        Options
                    </button>
                    <div class="dropdown-menu">
                        <a asp-action="ChangeRole" asp-route-id="@item.UserProfileId" class="dropdown-item">Accesses</a>
                        <a asp-action="ChangePassword" asp-route-id="@item.UserProfileId" class="dropdown-item">Change Password</a>
                        <a asp-action="Edit" asp-route-id="@item.UserProfileId" class="dropdown-item">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.UserProfileId" class="dropdown-item">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.UserProfileId" class="dropdown-item">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
