@page
@model Vinarish.Pages.Reports.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Report</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Cat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Cat.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Code.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Place.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Reporter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Reporter.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Wagon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Wagon.WagonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.AppendixReport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.AppendixReport.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Report.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
