@page
@model Vinarish.Pages.Reports.DetailsModel

<div>
    <h4>Report</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Cat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Cat.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Code.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Place.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Reporter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Reporter.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Wagon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Wagon.WagonId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Report.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
