@model VinarishMvc.Models.WagonTrip

@{
    ViewData["Title"] = "واگن " + Model.Wagon.Name + " در سفر " + Model.TrainTrip.Train + " " + Model.TrainTrip.DateTime.ToString("yy/MM/dd");
}

<h1>@ViewData["Title"]</h1>

<div class="table-responsive">
    <a asp-action="Create" asp-controller="Reports" asp-route-id="@Model.WagonTripId">
        <i class="fa fa-plus-circle"></i>
    </a>
    <table class="table">
        @foreach (Report r in Model.Reports)
        {
            <tr>
                <td>
                    @{ var dt = r.DateTimeCreated.ToString("yy/MM/dd");}
                    @Html.DisplayFor(modelItem => dt)
                </td>
                <td>
                    @r.Reporter.UserName
                </td>
                <td>
                    @r.DevicePlace.Description
                </td>
                <td>
                    @r.DeviceStatus.Text
                </td>
            </tr>
        }
    </table>
</div>